.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.square1{
  border: 1px solid black;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Boards-contaner{
  margin:  20px;
}
/* SECOND */
.bog_boxxx{
  margin:  20px;
}
.roww11{
  display: flex;
  justify-content: center;
  align-items: center;
}
.square11{

  border: 1px solid black;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}